@@import "<link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">";
@@import "<link href="https://fonts.googleapis.com/css?family=Cinzel|Courgette|Pacifico|Rasa|Shadows+Into+Light" rel="stylesheet">";
@@import "<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">";
@font-face {
  font-family: "styled1";
    src: "/Connie-Regular.ttf" format("truetype");
}
@-ms-viewport{
  width: device-width;
}
.logo{
  image-resolution:snap;
  width: 30%;
  position:static;
}

.styled {
  font-size: 20px;
  text-align: left;

}
#form-font{
  float: right;
  margin-right: 4%;
  margin-top: 10%;
}
#form-font a{

  display: inline-block;
  font-family: 'Open Sans',Arial;
  color: #888;
  font-size: 30px;
  margin-bottom: 2%;
  /*font-weight: bold;*/
}
.top-nav{
  background-color:black;
  overflow:hidden;
  position: fixed;
  top: 0;
  width: 100%;
  border-right: 1px solid #FFF;
  margin: 0;
  border-spacing: 10px;
  opacity: 1;
  height: 7.6%;
  left:0;
  right: 0;


}
.top-nav b{
  float: left;
  font-family: "trefay";
  font-size: 30px;
  text-align: center;
  color: #91600B;
  font-weight: lighter;

}
.top-nav a{

top: 0px;
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  font-size: 15px;
  border-right: 1px solid #FFF;
  border-spacing: 3px;
  margin-right: 24px 17px;
  text-decoration: none;

}
.top-nav a:hover{
border-right: 1px solid #FFF;
  transition: color .3s linear;
  color: #91600B;
}
.top-nav a.active{
  color: white;
  background-color: inherit;
}
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
     /* Place the button at the bottom of the page */
     /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    /* Set a background color */
     /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    color: white;
    background-color: white;
}
.parallax1 {
    /* The image used */
    background-color: black;
    background: url("c.jpg");
    /* Set a specific height */
    height: 100%;
    width: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


}
.overlay{
  top: 0;
  right:0;
  bottom: 0;
  left: 0;
  background-color: black;
  opacity: 0.7;
  height: 100%;
}
.overlay1{
  top: 0;
  right:0;
  bottom: 0;
  left: 0;
  background-color: black;
  opacity: 0.9;
  height: 100%;
}
.overlay2{
  top: 0;
  right:0;
  bottom: 0;
  left: 0;
  background-color: black;
  opacity: 0.5;
  height: auto;
}
.parallax2 {
    /* The image used */
    background-image: url("parralax 4.jpg");

    /* Set a specific height */
    height: auto;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


}
.parallax3 {
    /* The image used */
/*    background-image: url("Cool-Black-And-White-Wallpapers-Resolution-1920x1080-Desktop-Backgrounds-127.jpg");
  */  background-image: url("5.jpg");

    /* Set a specific height */
    height: auto;
    /* Create the parallax scrolling effect */
    /*image-orientation: invert;*/
    /*background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/
    background-size: cover;
    background-repeat: no-repeat;

}
.parallax4 {
    /* The image used */
/*    background-image: url("turnpike-blur.jpg");
  */  background-image: url("Geometric-Wallpaper-6.png");

    /* Set a specific height */
    height: 180%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;

}
.col-1{
  text-align: center;
  color: white;
  width: 25%;
  float: left;
  margin-top:20;
}
.col-2{
  width: 8.33333%;
  float: left;
}
.col-3{
  margin-top: 20;
  color: white;
  width: 66.666%;
  float: left;
}
.skew_shape {
    display: block;
    background: #FFFFFF;
    border: 1px solid #C0C0C0;
    height: 60px;
    margin: 25px auto 0 0;
    width: 2px;
  }
  .hp-color{
    color: #91600B;
  }
.row {
    margin-left: -15px;
    margin-right: -15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
   box-sizing: border-box;
}
.ft-style {
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    margin: 34px 0 15px;
    -webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
.foot{
  background-color: : #91600B;
  color: #FFFFFF;
}
.container {
  background-color: : #91600B;
      width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.bc-1{
  position: relative;
  background-color: : #91600B;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  /* -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;*/
  float: left;
  width: 25%;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
color: #FFF;
font-size: 14px;
font-style: normal;
font-weight: 400;
}
.bc-2{
  background-color: : #91600B;
  width: 34%;
  float: center;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  /*-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;*/
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
color: #FFF;
font-size: 14px;
font-style: normal;
font-weight: 400;

}
.bc-3{
  background-color: : #91600B;
  width: 42%;
  float: right;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  /*-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;*/
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.sm_links  {

    float: right;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box
}
.align_center {
    text-align: center;
}
.fb{
  display: inline-block;
font-family: FontAwesome;
font-style: normal;
font-weight: normal;

}
.insta{
  display: inline-block;
font-family: FontAwesome;
font-style: normal;
font-weight: normal;


}
.twitter{
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
}
.sm_icon{

}
#foot{
  width: 100%;
  bottom: 0;
  background-color: #91600B;
  color: #A5A5A5;
  font-family: 'Josefin Sans';
  font-size: 14px;
  text-transform: lowercase;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
  font-weight: 300;
  vertical-align: baseline;
  margin-left: : 0px;
  margin-right: 0px;
  border: 0px;
}
#footquote{
  margin-top: 2px;
  padding: 0;
  border: 0;
  margin-left: 140px;
}
#copyright{
  margin-top: 2px;
    padding: 0;
  border: 0;
}
.head_info{
  float: right;
  top:0;
  width: 50%;
  margin-right: 70px;

}
.info{
  color: #FFF;
  font-family: 'Josefin Sans';
  font-size: 22px;
  font-weight: bold;
  right: 20%;
}
.points_info{
  width: 20px;
  height: 20px;
}
.info a{
  float: center;
  font-size: 12px;
}
.fr-btn{
  margin-right:4%;
  background-color: #91600B;
    border: 0;
    border-radius: 6%;
    color: white;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 10%;
    padding-right: 10%;
    bottom: 18%;
}
.icons{
  float: right;
  margin-right:4px;
  padding: 0;

}

.img-prop{
  float: right;
  height: 90%;
  width: 50%;
}
#submit:hover{
  color: black;
}
#reset:hover{
  color: black;
}

.row::after{
  content:" ";
  display: table;
  clear:both;
  height: auto;
  right:20%;
}
.column{
  height: auto;
  float: right;
  position: relative;
  width: 25%;
  padding: 10px;
  margin-right: 80px  ;
  margin-top: 5%;


}
.column img{
  margin-top: 12px;
  width: 330px;
height: 250px;
}
/*.column:hover {
  opacity: 0.6;
  filter:alpha(opacity=60);  //For IE8 and earlier
  }
*/
.column img:hover {
opacity: 0.7;
background-color: black;
     filter:alpha(opacity=60);  //For IE8 and earlier
}



@media (max-width:800px){
  .column{
    width: 50%;
  }
}
@media (max-width:600px){
  .column{
    width: 100%;
  }
}
.fotu-gal{
  margin:0%;
}
pre{
top:0;
  margin: 0;
}
.pgal{
  /*color: #ecf0f1 ;*/
  color:  #d2fdf6 ;
  font-size: 3.4553em;
  font-family:'Gloria Hallelujah','Courgette','Dosis',sans-serif;
}
.stsld{
  left: 50%;
  right: 50%;
  height: 30%;
  width: 30%;
}
.stfont{
  color: #FFF;
  font-size: 4em;
  font-family: 'Dosis',sans-serif;
}
.front-pg-img{
  border-radius: 100%;
  height: 75%;
  width: 22%;
  float: center;
  opacity: 1;
}
@import " <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">";
.snd-hi{
position: static;
  float: left;
  width: 40%;
  margin-top: 0%;
}
.fdform{
  margin-top: 10%;
  color: #91600B;
  text-decoration: none;
}
