@-ms-viewport{
  width: device-width;
}
.parallax {
    /* The image used */
   background-image: url("maverick-wave-wallpaper-Is-Cool-Wallpapers.jpg");

    /* Set a specific height */
    height: 130%;
    background-size: 100% 130%

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0;
    border-spacing: 0;
    left:0;
    right: 0;
  }
.main-name{
margin-top: 0;
  text-align: center;
  color: #f9f1e9;
  font-size: 20px;
  left:0;
  right: 0;
}

.main-title {
    font-size: 42px;
    letter-spacing: 3px;
    position: absolute;
    margin: 0;
    padding: 0;
    color: #f9f1e9;
    text-align: center;
    top: 47%;
    left: 50%;
    -webkit-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
}
.button {
  border-radius: 4px;
  background-color: /*#f4511e*/ #0b0b0b;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 19px;
  padding: 20px;
  width: 270px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
.button:active {
  -webkit-transition: background-image 0.2s ease-in-out;
transition: background-image 0.2s ease-in-out;
}
#foot{
  width: 100%;
  position:fixed;
  max-height: 15%;
  bottom: 0;
  left: 0;
  background-color: #303030;
  color: #A5A5A5;
  font-family: 'Josefin Sans';
  font-size: 12px;
  text-transform: lowercase;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
  font-weight: 300;
  vertical-align: baseline;
  margin-top: 100px;
  margin-left: : 0;
  margin-right: 10%;
  border: 0;
}
#footquote{
  float: center;
  margin-top: 2px;
  margin-left: 20%;
  margin-right: 85px;
  padding: 0;
  border: 0;
}
#copyright{
  float: center;
  margin-top: 2px;
    padding: 0;
  border: 0;
}
.icons{
  float: right;
  margin-right:4px;
  padding: 0;

}

.img-prop{
  float: right;
  height: 90%;
  width: 50%;
}
